.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  font-family: "Pretendard", sans-serif;
}

.login > div {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 360px;
}

.login div:first-child {
  margin-bottom: 25px;
}

.login label {
  margin: 0;
  width: 70px;
  text-align: right;
  margin-right: 10px;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .login > div {
    width: 80%;
  }
  .login input {
    flex-grow: 1;
    height: 40px;
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #d7ecd7;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 768px) {
  .login input {
    flex-grow: 1;
    height: 40px;
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #d7ecd7;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
}

.find-pwd {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: #949494;
  text-decoration: underline;
  font-size: 11px;
  padding: 5px 5px;
  cursor: pointer;
}

.find-pwd p {
  transition: color 0.2s ease;
}

.find-pwd p:hover {
  color: black;
}

button.btn-primary {
  width: 130px;
  padding: 7px 0;
  margin-top: 0px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #00a44b;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

button.btn-primary:hover {
  background-color: #007836; /* 호버 시 배경 색상 변경 */
}

p.btn-signup {
  margin-top: 10px;
  font-size: 11px;
  font-weight: lighter;
  color: #949494;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s ease;
}

p.btn-signup:hover {
  color: black;
}
