.logo-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 150px;
}

.logo-container .logo {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

.logo-container .logo img {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .logo-container .logo img {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .logo-container .logo img {
    width: 200px;
  }
}

.logo-container .line {
  width: 100%;
  height: 18px;
  background-color: #01a34b;
  z-index: 1;
}


@media (min-width: 768px) {
  .logo-container .line {
    position: fixed;
    top: 280px;
  }
}

@media (max-width: 768px) {
  .logo-container .line {
    position: fixed;
    top: 230px;
  }
}