.detail_right_item {
  width: 600px;
  height: 750px;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1240px) {
  .detail_right_item {
    display: none;
  }
}

.right_food_list {
  height: 370px;
  padding: 10px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}
.right_choice_text_div {
  padding: 10px 0px 0px 20px;
}
.right_choice_text {
  font-size: 17px;
  font-weight: bold;
}
