.comment_div {
  padding: 20px;
}
.comment_title {
  font-size: 20px;
}

.comment_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment_add_btn {
  padding: 10px 20px;
  border: none;
  background-color: #04a34b;
  opacity: 90%;
  color: white;
  border-radius: 10px;
}
.comment_add_btn:hover {
  opacity: 1;
  cursor: pointer;
}
