.review_item {
  height: 90px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review_info_div {
  display: flex;
  align-items: flex-start;
}
.review_info {
  display: flex;
  flex-direction: column;
}
.review_info span:nth-child(1) {
  font-size: 15px;
}
.review_info span:nth-child(2) {
  font-size: 15px;
}
.user_icon {
  width: 35px !important;
  height: 35px !important;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.3);
}

.review_date {
  margin-left: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}
.heart_icon {
  color: gold;
}
.review_item_setting_icon {
  position: relative;
}
/* reviewItem.css */

.modalContainer {
  position: relative;
}

.custom-modal .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
}

.custom-modal .modal-content {
  width: 100%;
  height: 100%;
}

.custom-backdrop {
  background-color: transparent;
}
.setting_div1 {
  padding: 20px;
  padding-bottom: 0px;
}
.setting_div2 {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
}
.setting_div:hover {
  cursor: pointer;
}
