@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

.header {
  font-family: nanumsquare;
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px;
  margin: 0px auto 0px auto;
}
.header Button {
  margin-top: 10px;
  margin-left: 700px;
}
.logo {
  width: 75px;
  height: 75px;
  cursor: pointer;
  margin-left: 50px;
}

.user_info {
  margin-top: 20px;
  margin-right: 50px;
}
.line {
  border-bottom: 3px solid #04a34b;
  margin-top: 10px;
}
