@font-face {
  font-family: "TTLaundryGothicB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.signup-total_footer {
  font-family: "Prentendard", sans-serif;
  font-weight: bold;
  text-align: end;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
}
.logo3 {
  width: 100%;
  height: 100px;
}
.line2 {
  border-bottom: 3px solid #04a34b;
}

.pda {
  margin-right: 10px;
  font-size: 25px;
  color: blue;
}

@media (max-width: 768px) {
  .signup-author {
    font-size: 13px;
  }
}
