.slider-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  padding: 10px;
  box-sizing: border-box;
}

.slick-list {
  overflow: hidden;
}

.slick-slide img {
  filter: brightness(0.6);
}

.slick-center img {
  filter: brightness(1);
}
.slick-slider .slick-arrow.slick-next {
  display: none !important;
}
