.signup-body {
    height: 60vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}

.signup-comment {
    margin-bottom: 30px;
}

.signup-comment h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.signup-comment p {
    font-size: 17px;
    color: #949494;
    margin-bottom: 5px;
}

/*input section*/
.signup-input > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
  }

.signup-input .signup-pwd-check, .signup-nickname {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
}
  
.signup-input label {
    margin: 0;
    width: 110px;
    text-align: right;
    margin-right: 10px;
    font-weight: bolder;
  }
  
.signup-input input {
    flex-grow: 1;
    width: 300px;
    height: 40px;
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #d7ecd7;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

.password-match {
    color: #5770EE;
}

.password-mismatch {
    color: #EE5757;
}


.signup-input .signup-pwd-check > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.signup-pwd-check .password-message {
  font-size: 15px;
  padding-left: 10px;
}

.signup-input .signup-nickname > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;
}

.signup-nickname .nickname-count {
  font-size: 12px;
  padding-left: 380px;
  color: #949494;
}

button.btn-primary {
    width: 130px;
    padding: 7px 0;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #00a44b;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  }
  
  button.btn-primary:hover {
    background-color: #007836; /* 호버 시 배경 색상 변경 */
  }

  .btn-primary:disabled {
    background-color: #cccccc; /* 회색으로 설정 */
    color: #666666; /* 글자색도 변경할 수 있음 */
}
